
<%= render 'books/list', books: @books %>


<h1>ユーザーの一覧？</h1>

<%= @users.each do |user| %>

  <span><%= image_tag @user.get_profile_image %></span>

  <p>name</p>
  <span><%= user.name %></span>
  
  
  
<% end %>