<!--/home/aboutにアクセスされたとき、このファイルが表示されるはず-->
<!--<h1>app/views/homes/about.html.erbファイル</h1>-->

<!--welcome to Bookersと、フッターにCopyRight Infratop.incって書いてあるページが表示されるはず-->

<body>
  <main>
    <p id="notice"></p>
    <div class="container">
      <div class="row">
        <h1 class="px-3 mx-auto">
          Welcome to <a>Bookers</a>!
        </h1>
      </div>
    </div>
  </main>
</body>